<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rpos.pos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="woyou.aidlservice.jiuiv5" />
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".CoreApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POS"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".presentation.ui.settings.data_backup.BackupActivity"></activity>
        <activity
            android:name=".presentation.ui.report.ReportViewerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.settings.company_address.CompanyAddressActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.purchase.bill.PurchaseBillView"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.purchase.order.payment.PurchasePaymentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.price_variations.itemprice.edit.ItemPriceEditActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.price_variations.pricelist.select.SelectPriceListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.price_variations.itemprice.add.AddItemPriceActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.price_variations.itemprice.list.ItemPriceListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.price_variations.pricelist.add.AddPriceListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.price_variations.pricelist.list.PriceListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.purchase.order.checkout.PurchaseOrderCheckout"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.purchase.order.details.PurchaseOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.purchase.order.list.PurchaseOrderListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.supplier.selection.SupplierSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.purchase.order.create.CreatePurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.print.bluetooth.BluetoothPrintActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.settings.company_details.CompanyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.barcode_scanner.ItemBarcodeScanner"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.taxes.view.TaxViewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.taxes.add.AddTaxSlabActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.taxes.list.TaxesActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.paymentmodes.add.AddPayModeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.units.add.AddUomActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.units.list.UOMListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.paymentmodes.list.PaymentModeListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/ThemeWhiteStatusBar" />
        <activity
            android:name=".presentation.ui.sales.bill.BillViewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.sales.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.sales.order.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.sales.order.details.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.sales.order.list.OrderQueueActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.item.select.ItemSelectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.customer.select.CustomerSelectActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.sales.order.create.CreateOrderActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.customer.details.CustomerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.category.add.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.address.add.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.address.list.AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.supplier.add.AddSuppliersActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.supplier.lsit.SuppliersListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.purchase.list.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.category.view.CategoryViewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.category.list.CategoryListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.customer.addcustomer.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.customer.list.CustomerListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.shift.ShiftActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.item.view.ItemViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.item.add.AddItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.item.list.ItemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.sales.sales_list.SalesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeWhiteStatusBar" />
        <activity
            android:name=".presentation.ui.apploading.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>